 body {
      background-color: #bbdce5;
      font-family: "Lexend Deca", sans-serif;
    }

    h1 {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      color: #083251;
    }

    .sidebar {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 250px;
      background-color: #71a4c6;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .sidebar button {
      width: 190px;
      height: 45px;
      border-radius: 8px;
      margin: 10px 0;
      background: white;
      color: #333;
      font-weight: bold;
      border: none;
      transition: 0.3s;
    }

    .sidebar button:hover {
      background: #083251;
      color: white;
    }

    .profile-holder {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: white;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      color: #71a4c6;
      border: 3px solid #fff;
    }

    .content {
      margin-left: 240px;
      padding: 20px;
    }

    .myResult{
        background-color: #fff;
        text-align: center;
       
    }

  